<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <h1>
                <%= title %>
            </h1>
            <%- messages() %>

                <% if (errors) { %>
                    <ul class="notice">
                        <% errors.array().forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>

                        <form action="/account/register" method="post">
                            <label for="account_firstname">First Name</label>
                            <input type="text" name="account_firstname" id="accountFirstname" required
                                value="<%= locals.account_firstname %>">

                            <label for="account_lastname">Last Name</label>
                            <input type="text" name="account_lastname" id="accountLastname" required
                                value="<%= locals.account_lastname %>">

                            <label for="account_email">Email address</label>
                            <input type="email" name="account_email" id="accountEmail" required
                                value="<%= locals.account_email %>">

                            <label for="account_password">Password</label>
                            <div class="password-requirements">
                                Passwords must be at least 12 characters and contain at least 1 number,
                                1 capital letter, and 1 special character.
                            </div>
                            <input type="password" name="account_password" id="account_password" required
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                                title="Password must be at least 12 characters, contain at least one number, one uppercase letter, one lowercase letter, and one special character.">

                            <button type="submit">Register</button>
                        </form>
                        <p>
                            Already have an account? <a href="/account/login">Login here</a>
                        </p>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>