<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_index.css" media="screen">
    <link rel="stylesheet" href="/css/styles_media_index.css" media="screen">
</head>
<body>
    <div id="wrapper">
        <header>
            <%- include("../partials/header") %>
            <%- include("../partials/navigation") %>
        </header>
        
        <main>
            <h1><%= title %></h1>
            <%- itemDetailHTML %>
        </main>
        
        <footer>
            <%- include("../partials/footer") %>
        </footer>
    </div>
</body>
</html>